.mainImg {
    width: 100%;
    height: 72vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-image: url("https://vuoncayviet.com/data/aditems/93/vuon-cay-viet-banner-new.jpg");
    background-position: center;
    background-size: cover;
}

.boxIntroduce {
    margin: 20px 0px;
}

.three {
    margin-bottom: 8px;
}

.three h1 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2em;
    padding-bottom: 15px;
    position: relative;
    color: #228b22;
}

.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #228b22;
}

.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #228b22;
}


.bannerIntro {
    background-image: url("/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.boxIntroduce__Content {
    width: 50%;
    padding: 8px 12px;
}

.Contacts__Content {
    display: flex;
    padding: 6px;
    background-color: #fff;
    border-radius: 10px;
    gap: 6px;
}

.Contacts__Info {
    width: 50%;
    padding: 6px;
}

.map {
    width: 50%;
}