.navBar{
    background-color: #228B22!important;
    box-shadow: 0 0 6px #228B22!important;
}

.toolBar {
    min-height: 70px !important;
}

.navItemsLink {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

.navLink {
    margin-left: 20px;
}

.navLink button {
    font-size: 14px;
    font-weight: 600;
}

.navSubLink {
    margin-left: 20px;
}

.navSubLink button {
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
}

.toolBar_2 {
    min-height: 46px;
}

.logo {
    border-radius: 50%;
    object-fit: contain;
    margin-right: 8px;
}

.Typography {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    font-family: monospace !important;
}