.navBar {
    background-color: #228B22 !important;
    box-shadow: 0 0 6px #228B22 !important;
}

.toolBar {
    min-height: 70px !important;
}

.navItemsLink {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

.navLink {
    margin-left: 20px;
}

.navLink button {
    font-size: 14px;
    font-weight: 600;
}

.navSubLink {
    margin-left: 20px;
}

.navSubLink button {
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
}

.toolBar_2 {
    min-height: 46px !important;
}

.logo {
    border-radius: 50%;
    object-fit: contain;
    margin-right: 8px;
}

.Typography {
    display: flex;
    align-items: center;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: monospace !important;
}

.spanCart:hover,
.accountEmail:hover {
    cursor: pointer;
}

.accountEmail:hover+.navProfile {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.spanCart:hover+.navCart {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.spanCart,
.accountEmail {
    position: relative;
}

.cartIcon,
.accountEmail-icon {
    width: 40px;
    height: 40px;
}

.spanCart::after,
.accountEmail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    background-color: transparent;
    height: 8px;
}

.containNavCart,
.containNavProfile {
    position: relative;
}

.navCart,
.navProfile {
    background-color: #ffffff;
    color: black;
    position: fixed;
    z-index: 10;
    margin-top: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    right: 10px;
}

.navCart {
    right: 68px;
}


.navProfile::before {
    content: "";
    position: absolute;
    right: 28px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.navCart::before {
    content: "";
    position: absolute;
    right: 28px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.navCart:hover,
.navProfile:hover {
    display: block;
}

.navCart ul,
.navProfile ul {
    list-style: none;
    width: 200px;
}

.navCart ul span {
    float: right;
    margin: 8px 16px;
}

.navCart ul span button {
    margin: 16px;
    background-color: #48af48;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navCart ul span button:hover,
.navCart ul span button:focus {
    background-color: #69c069 !important;
    color: aquamarine;
    cursor: pointer;
}

.navCart ul {
    width: 400px;
}

.navCart ul li,
.navProfile ul li {
    padding: 16px;
    transition: ease-in 0.1s;
    font-weight: 500;
}

.navCart ul li:hover,
.navProfile ul li:hover {
    color: #228B22;
    cursor: pointer;
    background-color: rgb(234, 226, 226);
}