.navBar{
    background-color: #228B22!important;
    box-shadow: 0 0 6px #228B22!important;
}

.toolBar {
    min-height: 70px !important;
}

.navItemsLink {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

.navLink {
    margin-left: 20px;
}

.navLink button {
    font-size: 14px;
    font-weight: 600;
}

.navSubLink {
    margin-left: 20px;
}

.navSubLink button {
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
}

.toolBar_2 {
    min-height: 46px !important;
}

.logo {
    border-radius: 50%;
    object-fit: contain;
    margin-right: 8px;
}

.Typography {
    display: flex;
    align-items: center;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: monospace !important;
}


.accountEmail:hover {
    cursor: pointer;
}

.accountEmail:hover + .navProfile{
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.accountEmail {
    position: relative;
}

.accountEmail-icon {
    width: 40px;
    height: 40px;
}

.accountEmail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    background-color: transparent;
    height: 8px;
}

.containNavProfile {
    position: relative;
}

.navProfile {
    background-color: #ffffff;
    color: black;
    position: fixed;
    z-index: 10;
    margin-top: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    right: 10px;
}

.navProfile::before {
    content: "";
    position: absolute;
    right: 28px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.navProfile:hover {
    display: block;
}

.navProfile ul {
    list-style: none;
    width: 200px;
}

.navProfile ul li {
    padding: 16px;
    transition: ease-in 0.1s;
    font-weight: 500;
}


.navProfile ul li:hover {
    color: #228B22;
    cursor: pointer;
    background-color: rgb(234, 226, 226);
}